//Font variable initialization

$primary-background-color: white;
$secondary-background-color: #ece8e7;
$text-color: #333;
$button-text-color: white;

//Media Query breakpoints/
$small: 360px;
$medium: 600px;
$large: 800px;
$xlarge: 1024px;
