//Font variable initialization

$primary-background-color: white;
$secondary-background-color: #ece8e7;
$text-color: #333;
$button-text-color: white;

//Media Query breakpoints
$phone-screen: 599px;
$tablet-screen-min: 600px;
$tablet-screen-max: 1023px;
$desktop: 1024px;
