@import "variables";
@import "mixin";
@import "media-query";

/* ++++++++++ Start of Navbar Component style sheet ++++++++++ */
.navbar-container {
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
  .navbar {
    height: 6rem;
    display: flex;
    background-color: $secondary-background-color;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 0 2rem;

      h1 {
        @include logo-font-style;
        font-family: "MoonDance-Regular";
        font-size: 4rem;
      }
    }

    .nav-menu {
      @include paragraph-normal;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .item {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 1rem;

        .links {
          text-decoration: none;
          color: $text-color;
          font-size: 1.2rem;

          &:hover {
            border-bottom: 4px solid #b48821;
            transition: ease-in-out;
          }
        }
      }

      .contact-btn {
        margin: 0 2rem;
        button {
          @include button-style;
          .links {
            color: white;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
  .hamburger {
    font-size: 3rem;
    display: none;
  }
}
/* ++++++++++ End of Navbar Component style sheet ++++++++++ */

/* ++++++++++ Start of Hero Component style sheet ++++++++++ */
.hero-container {
  .hero {
    display: flex;
    /*     justify-content: space-between;
 */
    flex-wrap: wrap;
    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(209, 204, 204, 0.445) 50%
    );
    .col1 {
      flex-basis: 30%;
      margin-bottom: 28rem;
      margin-left: 18rem;
      margin-top: 1rem;
      z-index: 1;
      h1 {
        @include yoga;
        font-weight: 300;
        font-size: 15rem;
        color: rgba(29, 28, 26, 0.805);
        /* 
      left: 15rem;
      top: 8rem; */
        z-index: 2;
      }
      h2 {
        @include logo-font-style;
        font-family: "MoonDance-Regular";
        font-size: 4rem;
        /*  */ /*  top: 28rem;
      left: 18rem; */
      }
    }
    .col2 {
      flex-basis: 50%;
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 0rem;
      /*       margin-left: -8rem;
 */
      .img {
        width: 45rem;
        height: 28rem;
        /* position: absolute;
      right:20rem;
      top:12rem;  */
        z-index: 1;
      }
      .ball {
        width: 38rem;
        height: 38rem;

        position: absolute;
        right: 0;
        left: 0;
        background-color: #b68a23;
        border-radius: 50%;
        /*       border: #e4e4e48d 2rem solid;
 */ /*  
       right:15rem;
      top:8rem;  */
        transform: translateX(150px);
        z-index: 0;
      }
    }
  }
}
/* ++++++++++ End of Hero Component style sheet ++++++++++ */

/* ++++++++++ Start of Aboutme Component style sheet ++++++++++ */
.about-container {
  @include section-padding-style;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
  .about-image {
    width: 400px;
    height: 600px;
    margin-left: 5rem;
  }

  .rectangle1,
  .rectangle2 {
    position: absolute;
    top: 0;
    left: 10rem;
    width: 450px;
    height: 630px;
    transform: rotate(-13deg);
    z-index: -1;
    /*     animation: rotateAnimation 60s infinite linear; */
  }
  .rectangle1 {
    border: 15px solid #b68a2352;
    margin-left: 50px; //Add some spacing between the rectangles
  }
  .rectangle2 {
    border: 15px solid #eaeae8;
    margin-top: -50px;
    margin-left: -10px; /* Add some spacing between the rectangles */
  }

  section {
    display: flex;
    flex: 1;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    max-width: 50vw;
    margin-left: 10rem;
    /*    margin-top: 2rem; */

    h2 {
      @include heading-2-style;
      text-align: center;
    }
    p {
      color: $text-color;
      font-family: "Roboto-Medium";
      font-size: 1.5rem;
      max-width: 80%;
    }
  }
}
/* ++++++++++ End of Aboutme Component style sheet ++++++++++ */

/* ++++++++++ Start of Service Component style sheet ++++++++++ */
.service-container {
  background-color: #ece8e7;

  /* Styles for the service wrapper */
  .service-wrapper {
    @include section-padding-style;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Header container for the section */
    .header-container {
      h2 {
        padding: 1.5em 0 0;
        @include heading-2-style;
        @include heading-2;
      }
    }

    /* Container for tab navigation */
    .tab-container {
      width: 80%;
      padding: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;

      /* Navigation for tabs */
      .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25rem;
        margin-bottom: 0;
        padding-left: 0;

        li {
          position: relative;
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);

          .button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .icon {
              position: absolute;
              width: 8.5rem;
              height: 8.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid #b48821;
              box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
              border-radius: 50%;
              transition: 0.5s;
              transition-delay: 0.2s;

              img {
                height: 5rem;
                width: 5rem;
              }
            }

            &::before {
              content: "";
              position: absolute;
              inset: 0;
              box-shadow: 10px 22px 40px #0000 5%;
              border-radius: 50%;
              transform: scale(0);
              transition: 0.5s;
            }
          }

          &.active {
            .icon {
              transition-delay: 0s;
              font-size: 12rem;
              background: #b48821;

              &::before {
                transform: scale(1);
              }
            }
          }
        }
      }
    }

    /* Style for the service section */
    .service-section {
      width: 100%;
      display: flex;
      justify-content: center;

      /* Container for card content */
      .card-content-container {
        width: 100%;

        /* Container for cards */
        .cards-container {
          padding: 2rem 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 3rem;

          /* Individual card styles */
          .card-basic,
          .card-premium,
          .card-standard {
            width: 24%;
            background: #fff;
            color: $text-color;
            text-align: center;
            border-bottom: 3px solid #b48821;
            border-radius: 1rem;
            box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
            overflow: hidden;
            transition: all 0.1s ease-in-out;

            /* Card hover effect */
            &:hover {
              transform: scale(1.02);
            }

            /* Card header */
            .card-header {
              height: 5rem;
              font-weight: 700;
              font-size: 0.8rem;
              padding: 1rem 0;
              color: #fff;
              clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
            }

            /* Card body */
            .card-body {
              padding: 0.8rem 0;

              p {
                h3 {
                  @include heading-3;
                  font-size: 1.5rem;
                  color: #b48821;
                  padding: 1rem;
                }
              }

              /* Container for card elements */
              .card-element-container {
                color: $text-color;
                list-style: none;
                font-size: 1rem;
                text-align: left;

                .card-element {
                  .circle-icon {
                    margin-right: 0.5rem;
                    color: #b48821;
                  }
                }
              }

              /* Card buttons */
              .btn {
                margin: 0.5rem 0;
                padding: 0.6rem 0.9rem;
                outline: none;
                border-radius: 0.7rem;
                font-size: 0.9rem;
                font-weight: 700;
                color: #fff;
                border: none;
                cursor: pointer;
                transition: all 0.1s ease-in-out;

                &:hover {
                  transform: scale(0.95);
                }

                &:active {
                  transform: scale(1);
                }
              }
            }
          }

          /* Header and button styles for each card type */
          .header-basic,
          .btn-basic {
            background: #b48821;
          }

          .header-standard,
          .btn-standard {
            background: #b48821;
          }

          .header-premium,
          .btn-premium {
            background: #b48821;
          }
        }
      }
    }
  }
}

/* ++++++++++ End of Service Component style sheet ++++++++++ */

/* ++++++++++ Start of Gallery Component style sheet ++++++++++ */
.gallery-container {
  /* This class defines the container for the gallery. */
  @include section-padding-style;

  /* This code centers the container and sets its maximum width. */

  h2 {
    /* This class defines the heading for the gallery. */
    @include heading-2-style;
    text-align: center;
  }

  /* This code applies the `heading-2-color` mixin to the heading, which sets its color to the same color as the `h2` heading element in the JSX code. */

  .gallery-image {
    /* This class defines the styles for the gallery images. */
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    position: relative;
    padding: 1rem;
  }

  /* This code applies a transition to the images, which will cause them to scale up slightly when the user hovers over them. */

  .gallery-image:hover {
    /* This class defines the styles for the gallery images when the user hovers over them. */
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  /* Code applies scale transform and box shadow on image hover. */
}
/* ++++++++++ End of Gallery Component style sheet ++++++++++ */

/* ++++++++++ Start of Feedback Component style sheet ++++++++++ */
.feedback-container {
  background-color: #ece8e7;

  .site-container {
    @include section-padding-style;

    padding: 3rem 10rem;

    .feedback-heading {
      @include heading-2-style;
      display: flex;
      justify-content: center;
      padding-bottom: 7rem;
    }

    .article-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;

      .article-card {
        width: 20rem;
        height: 10rem;
        background: white;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0px 10px 33px -3px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        cursor: pointer;

        .article-image {
          width: 8rem;
          height: 8rem;
          margin: 0 60px;
          border-radius: 50%;
          border: 5px solid rgba(190, 143, 57, 0.937);
          overflow: hidden;
          transform: translatey(-100px);

          img {
            max-width: 120%;

            height: 120%;
          }
        }

        .article-content {
          padding: 10px 20px;
          text-align: center;
          transform: translatey(-100px);
          opacity: 0;
          transition: 0.3s;
        }
        .article-content1 {
          transform: translatey(-100px);
          text-align: center;
          margin-top: 10px;
        }

        &:hover {
          height: 20rem;

          > .article-content {
            opacity: 1;
            transform: translateY(-100px);
          }
        }
      }
    }
  }
}
/* ++++++++++ End of Feedback Component style sheet ++++++++++ */

/* ++++++++++ Start of Demo Component style sheet ++++++++++ */
// Top-level styles

.demo {
  h2 {
    @include heading-2-style;
    margin-bottom: 2rem; // Assuming you want the margin at the top level as well.
    text-align: center;
    padding: 3rem;
  }
  @include section-padding-style;

  h2 {
    @include heading-2-style;
    margin-bottom: 2rem; // Assuming you want the margin at the top level as well.
    text-align: center;
    padding: 3rem;
  }
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  background-image: url("../assets/images/demosession/pexels-marta.jpg");
  background-color: $secondary-background-color;
  background-size: cover;
  background-position: center;
  $margin-size: 2rem;
  width: 90%;
  margin: 0 auto;

  .mb-2 {
    margin-bottom: $margin-size;
  }

  .demo-session-description {
    padding: 2rem;
    width: 30rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $margin-size;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    p {
      margin-bottom: $margin-size;
    }

    .booking-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 80%; // reduced width since it's now inside the demo-session-description

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
      }

      h6 {
        font-size: 2rem;
      }

      button {
        @include button-style;
        margin-top: $margin-size;
        width: 11rem;
        transition: all 0.5s ease;

        &:hover {
          color: #001f3f;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .demo-session-description {
      width: 90%;
    }
  }
}
/* ++++++++++ End of Demo Component style sheet ++++++++++ */

/* ++++++++++ Start of Contact Component style sheet ++++++++++ */
.contact-container {
  @include section-padding-style;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .contact-sub-container {
    width: 100%;
    display: flex;

    .form-container {
      width: 55%;
      padding: 1.5rem;

      h2 {
        @include heading-2-style;
        padding: 1.5rem 0;
        margin-right: 15rem;
      }

      h3 {
        @include heading-3;
        padding-bottom: 1rem;
      }
    }

    .submit-btn {
      @include button-style;
    }

    .contact-img {
      margin: 1.6rem;
      width: 40%;

      background-image: url("../assets//images/contact/contact.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
/* ++++++++++ End of Contact Component style sheet ++++++++++ */

/* ++++++++++ Start of Footer Component style sheet ++++++++++ */
footer {
  background: $secondary-background-color;
  /*   background-image: url("../assets/images/wave.svg"); */

  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #b48821;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      color: $text-color;
    }
  }
  .footer-container {
    display: flex;
    justify-content: space-around;

    h5 {
      font-size: 1.7rem;
    }

    .logo-container {
      display: flex;
      align-items: center;

      /*  .logo {
        @include logo-font-style;
        font-family: "MoonDance-Regular";
        font-size: 3rem;
      } */
    }

    .about-me {
      margin-top: 2rem;

      p {
        max-width: 30rem;
        font-size: 1.2rem;
      }

      .icons {
        ul {
          font-size: 2.9rem;
          display: flex;
          gap: 2rem;

          :hover {
            opacity: 0.9;
          }
          li {
            a {
              color: #b48821;
            }
          }
        }
      }
    }

    .links {
      margin-top: 2rem;
      background-color: transparent;
      /*  border: none; */

      li {
        a {
          text-decoration: none;
          color: $text-color;
          font-size: 1.2rem;

          &:hover {
            border-bottom: 4px solid #b48821;
            transition: ease-in-out;
          }
        }
      }
    }
  }
  .copyright {
    background-color: #e1dddc;
    color: $text-color;
    font-size: 1.3rem;
    text-align: center;
  }
}
/* ++++++++++ End of Footer Component style sheet ++++++++++ */
