@import "variables";
@import "mixin";
@import "media-query";

/* ++++++++++ Start of Navbar Component style sheet ++++++++++ */
.navbar-container {
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
  .navbar {
    height: 6rem;
    display: flex;
    background-color: $secondary-background-color;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 0 2rem;

      h1 {
        @include logo-font-style;
        font-family: "MoonDance-Regular";
        font-size: 4rem;
      }
    }

    .nav-menu {
      @include paragraph-normal;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .item {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 1rem;

        .links {
          text-decoration: none;
          color: $text-color;
          font-size: 1.2rem;

          &:hover {
            border-bottom: 4px solid #b48821;
            transition: ease-in-out;
          }
        }
      }

      .contact-btn {
        margin: 0 2rem;
        button {
          @include button-style;
          .links {
            color: white;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
  .hamburger {
    font-size: 3rem;
    display: none;
  }
}
/* ++++++++++ End of Navbar Component style sheet ++++++++++ */

/* Backup code for the hero component */
/* .hero-container {
  width: 100%;
  height: 100vh;
  padding: 0 8rem;

  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(209, 204, 204, 0.445) 50%
  );
  .hero-heading {
    h1 {
      @include yoga;
      font-weight: 300;
      font-size: 18rem;
      color: rgba(29, 28, 26, 0.805);
      position: absolute;
      left: 15rem;
      top: 8rem;
      z-index: 2;
    }
    h2 {
      @include logo-font-style;
      font-family: "MoonDance-Regular";
      font-size: 4.5rem;
      top: 28rem;
      left: 18rem;
      position: absolute;
    }
  }
  .ball {
    width: 38rem;
    height: 38rem;
    background-color: #b68a23;
    border-radius: 50%;
    border: #e4e4e48d 2rem solid;
    position: relative;
    left: 50rem;
    top: 6rem;

    .gif {
      width: 110rem;
      height: 70rem;
      position: absolute;
      right: -22rem;
      bottom: -5rem;
    }
  }
} */

/* ++++++++++ Start of Hero Component style sheet ++++++++++ */
.hero-container {
  .hero {
    display: flex;
    /*     justify-content: space-between;
 */
    flex-wrap: wrap;
    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(209, 204, 204, 0.445) 50%
    );
    .col1 {
      flex-basis: 30%;
      margin-bottom: 28rem;
      margin-left: 18rem;
      margin-top: 1rem;
      z-index: 1;
      h1 {
        @include yoga;
        font-weight: 300;
        font-size: 15rem;
        color: rgba(29, 28, 26, 0.805);
        /* 
      left: 15rem;
      top: 8rem; */
        z-index: 2;
      }
      h2 {
        @include logo-font-style;
        font-family: "MoonDance-Regular";
        font-size: 4rem;
        /*  */ /*  top: 28rem;
      left: 18rem; */
      }
    }
    .col2 {
      flex-basis: 50%;
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 0rem;
      /*       margin-left: -8rem;
 */
      .img {
        width: 45rem;
        height: 28rem;
        /* position: absolute;
      right:20rem;
      top:12rem;  */
        z-index: 1;
      }
      .ball {
        width: 38rem;
        height: 38rem;

        position: absolute;
        right: 0;
        left: 0;
        background-color: #b68a23;
        border-radius: 50%;
        /*       border: #e4e4e48d 2rem solid;
 */ /*  
       right:15rem;
      top:8rem;  */
        transform: translateX(150px);
        z-index: 0;
      }
    }
  }
}

/* ++++++++++ End of Hero Component style sheet ++++++++++ */

/* ++++++++++ Start of Aboutme Component style sheet ++++++++++ */
.about-container {
  @include section-padding-style;
  margin-bottom: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40%;

    .about-image {
      margin-left: 4rem;
      width: 400px;
      height: 570px;
    }

    .rectangle1,
    .rectangle2 {
      position: absolute;
      top: 0;
      width: 450px;
      height: 630px;
      transform: rotate(-13deg);
      z-index: -1;
    }

    .rectangle1 {
      border: 15px solid #f4e4d5;
      margin-left: 60px; //Add some spacing between the rectangles
    }
    .rectangle2 {
      border: 15px solid #eaeae8;
      margin-top: -25px;
      margin-left: -30px; /* Add some spacing between the rectangles */
    }
  }

  .content-container {
    padding: 4rem;
    width: 60%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h2 {
      @include heading-2-style;
      text-align: center;
    }
    p {
      color: $text-color;
      font-family: "Roboto-Medium";
      font-size: 1.5rem;
    }
  }
}
/* ++++++++++ End of Aboutme Component style sheet ++++++++++ */

/* ++++++++++ Start of Service Component style sheet ++++++++++ */
.service-container {
  @include section-padding-style;

  /* Heading style of the section */
  .header-container {
    text-align: center;
    h2 {
      @include heading-2-style;
      @include heading-2;
    }
    h3 {
      @include heading-3;
    }
  }

  /* Tab container style */
  .tab-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Tab buttons style */
    .navigation {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      /* Tab active button style */
      .active {
        background: #b48821;
        button {
          .icon {
            transition-delay: 0s;
          }
          .icon::before {
            transform: scale(1);
          }
        }
      }

      /* Tab un-active buttons style */
      li {
        position: relative;
        list-style: none;
        margin: 3.5rem 5rem;
        display: flex;
        justify-content: center;
        padding: 4.9rem;
        border-radius: 50%;
        box-shadow: 10px 22px 40px #0000 5%;

        /*     box-shadow: 20px 20px 60px #d6d6d6, -20px -20px 60px #ffffff; */

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .icon {
            position: absolute;
            font-size: 5rem;
            width: 10rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #b48821;
            border-radius: 50%;
            transition: 0.5s;
            transition-delay: 0.2s;

            img {
              height: 6rem;
              width: 6rem;
            }
          }
          .icon::before {
            content: "";
            position: absolute;
            inset: 0px;
            box-shadow: 10px 22px 40px #0000 5%;
            border-radius: 50%;
            transform: scale(0);
            transition: 0.5s;
          }
        }
      }
    }
  }

  /* Service section style sheet */
  .service-section {
    display: flex;
    justify-content: center;
    .card-container {
      background-image: url("../assets/images/services/wave.svg");
      background-size: cover;
      outline: none;
      border: none;

      box-shadow: 20px 20px 60px #ece8e7, -20px -20px 60px #ffffff;
      width: 100%;
      .img-fluid {
        height: 30rem;
        width: 45rem;
      }

      .subscribe-btn {
        @include button-style;
      }

      .card-text {
        font-size: 1.3rem;
        padding: 0.6rem;
        color: $text-color;
        @include paragraph-normal;
      }
      h3 {
        @include heading-3;
      }
    }
  }
}
/* ++++++++++ End of Service Component style sheet ++++++++++ */

/* ++++++++++ Start of Gallery Component style sheet ++++++++++ */
.gallery-container {
  /* This class defines the container for the gallery. */
  @include section-padding-style;

  /* This code centers the container and sets its maximum width. */

  h2 {
    /* This class defines the heading for the gallery. */
    @include heading-2-style;
    text-align: center;
  }

  /* This code applies the `heading-2-color` mixin to the heading, which sets its color to the same color as the `h2` heading element in the JSX code. */

  .gallery-image {
    /* This class defines the styles for the gallery images. */
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    position: relative;
    padding: 1rem;
  }

  /* This code applies a transition to the images, which will cause them to scale up slightly when the user hovers over them. */

  .gallery-image:hover {
    /* This class defines the styles for the gallery images when the user hovers over them. */
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  /* Code applies scale transform and box shadow on image hover. */
}
/* ++++++++++ End of Gallery Component style sheet ++++++++++ */

/* ++++++++++ Start of Feedback Component style sheet ++++++++++ */
.feedback-container {
  background-color: #ece8e7;

  .site-container {
    @include section-padding-style;

    padding: 3rem 10rem;

    .feedback-heading {
      @include heading-2-style;
      display: flex;
      justify-content: center;
      padding-bottom: 7rem;
    }

    .article-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;

      .article-card {
        width: 20rem;
        height: 10rem;
        background: white;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0px 10px 33px -3px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        cursor: pointer;

        .article-image {
          width: 8rem;
          height: 8rem;
          margin: 0 60px;
          border-radius: 50%;
          border: 5px solid rgba(190, 143, 57, 0.937);
          overflow: hidden;
          transform: translatey(-100px);

          img {
            max-width: 120%;

            height: 120%;
          }
        }

        .article-content {
          padding: 10px 20px;
          text-align: center;
          transform: translatey(-100px);
          opacity: 0;
          transition: 0.3s;
        }
        .article-content1 {
          transform: translatey(-100px);
          text-align: center;
          margin-top: 10px;
        }

        &:hover {
          height: 20rem;

          > .article-content {
            opacity: 1;
            transform: translateY(-100px);
          }
        }
      }
    }
  }
}
/* ++++++++++ End of Feedback Component style sheet ++++++++++ */

/* ++++++++++ Start of Demo Component style sheet ++++++++++ */
// Top-level styles
h2 {
  @include heading-2-style;
  margin-bottom: 2rem; // Assuming you want the margin at the top level as well.
  text-align: center;
}

.demo {
  @include section-padding-style;
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  background-image: url("../assets/images/demosession/pexels-marta.jpg");
  background-color: $secondary-background-color;
  background-size: cover;
  background-position: center;
  $margin-size: 2rem;
  width: 80%;
  margin: 0 auto;

  .mb-2 {
    margin-bottom: $margin-size;
  }

  .demo-session-description {
    padding: 2rem;
    width: 30rem;
    height: 50rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $margin-size;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    p {
      margin-bottom: $margin-size;
    }

    .booking-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $margin-size;
      width: 80%; // reduced width since it's now inside the demo-session-description

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
      }

      h6 {
        font-size: 2rem;
      }

      button {
        @include button-style;
        margin-top: $margin-size;
        width: 11rem;
        transition: all 0.5s ease;

        &:hover {
          color: #001f3f;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .demo-session-description {
      width: 90%;
    }
  }
}
/* ++++++++++ End of Demo Component style sheet ++++++++++ */

/* ++++++++++ Start of Contact Component style sheet ++++++++++ */
.contact-container {
  @include section-padding-style;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .contact-sub-container {
    width: 100%;
    display: flex;

    .form-container {
      width: 55%;
      padding: 1.5rem;

      h2 {
        @include heading-2-style;
        padding: 1.5rem 0;
      }

      h3 {
        @include heading-3;
        padding-bottom: 1rem;
      }
    }

    .submit-btn {
      @include button-style;
    }

    .contact-img {
      margin: 1.6rem;
      width: 40%;

      background-image: url("../assets//images/contact/contact.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
/* ++++++++++ End of Contact Component style sheet ++++++++++ */

/* ++++++++++ Start of Footer Component style sheet ++++++++++ */
footer {
  background: $secondary-background-color;
  /*   background-image: url("../assets/images/wave.svg"); */

  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #b48821;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      color: $text-color;
    }
  }
  .footer-container {
    display: flex;
    justify-content: space-around;

    h5 {
      font-size: 1.7rem;
    }

    .logo-container {
      display: flex;
      align-items: center;

      .logo {
        @include logo-font-style;
        font-family: "MoonDance-Regular";
        font-size: 3rem;
      }
    }

    .about-me {
      margin-top: 2rem;

      p {
        max-width: 30rem;
        font-size: 1.2rem;
      }

      .icons {
        ul {
          font-size: 2.9rem;
          display: flex;
          gap: 2rem;

          :hover {
            opacity: 0.9;
          }
          li {
            a {
              color: #b48821;
            }
          }
        }
      }
    }

    .links {
      margin-top: 2rem;
      background-color: transparent;
      /*  border: none; */

      li {
        a {
          text-decoration: none;
          color: $text-color;
          font-size: 1.2rem;

          &:hover {
            border-bottom: 4px solid #b48821;
            transition: ease-in-out;
          }
        }
      }
    }
  }
  .copyright {
    background-color: #e1dddc;
    color: $text-color;
    font-size: 1.3rem;
    text-align: center;
  }
}
/* ++++++++++ End of Footer Component style sheet ++++++++++ */

/* 













*/
/* This part of code should be discussed before removing it  */

/* About component style sheet */

// .about-container {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;

//   h2 {
//     @include heading-2-color;
//   }

//   img {
//     width: 500px;
//     height: 700px;
//     position: relative;
//     z-index: 1;
//   }

//   .rectangle1,
//   .rectangle2 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 500px;
//     height: 700px;
//     transform: rotate(-45deg);
//     z-index: -1;
//     //animation: rotateAnimation 60s infinite linear;
//   }

//   .rectangle1 {
//     border: 15px solid #f4e4d5;
//     margin-left: 50px; /* Add some spacing between the rectangles */
//   }

//   .rectangle2 {
//     border: 15px solid #eaeae8;
//     margin-left: -30px; /* Add some spacing between the rectangles */
//   }

//   /*  */
//   @keyframes rotateAnimation {
//     0% {
//       transform: rotate(0);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   }
// }
// section {
//   flex: 1;
//   display: flex;
//   gap: 2rem;
//   flex-direction: column;
//   padding-top: 1rem;

//   max-width: 50vw;
//   margin-top: 2rem;

//   p {
//     color: $text-color;
//     font-family: "Roboto-Medium";
//     max-width: 70%;
//   }
// }

/* Hero section version 1 style */
// .hero {
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   background: linear-gradient(
//     360deg,
//     rgba(255, 255, 255, 0) 50%,
//     rgba(209, 204, 204, 0.445) 50%
//   );
// }
// .hero-heading {
//   @include yoga;
//   font-weight: 100;
//   font-size: 300px;
//   color: rgba(29, 28, 26, 0.805);
//   padding: 0rem 5rem;
//   position: absolute;
//   left: 5rem;
//   z-index: 2;
// }
// .name {
//   top: 18rem;
//   left: 10rem;
//   position: absolute;
// }
// .ball {
//   width: 700px;
//   height: 700px;
//   background-color: rgb(215, 167, 39);
//   border-radius: 50%;
//   position: relative;
//   top: 8rem;
//   left: 50rem;
// }
// /*  @-webkit-keyframes circle{
//     0%{
//       transform: rotate(0deg)translate(-160px)rotate(0deg);
//     }
//     100%{
//       transform :rotate(360deg)translate(-165px)rotate(-360deg);
//     }
//   } */
// .gif {
//   width: 90rem;
//   height: 55rem;
//   position: absolute;
//   left: -30rem;
//   bottom: 1rem;
// }
// @media only screen and (max-width: 700px) {
//   .ball {
//     position: relative;
//     left: 35rem;
//   }
//   .hero {
//     height: 100vh;
//     width: 100%;
//     background: linear-gradient(
//       360deg,
//       rgba(255, 255, 255, 0) 39%,
//       rgba(209, 204, 204, 0.445) 39%
//     );
//   }
// }
