@import "variables";
@import "mixin";

h1 {
  font-family: Roboto-Black;
  font-weight: 900;
  color: $text-color;
  font-style: italic;
}

.gallery-container {
  margin: 0 auto;
  width: 100%;
  max-width: 120rem;
  padding: 0 2rem;

  h2 {
    @include heading-2-color;
    margin: 2rem;
    text-align: center;
  }

  .gallery-image {
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    position: relative;
  }

  .gallery-image:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
}
