@import "variables";
@import "mixin";
@import "media-query";

h1 {
  font-family: Roboto-Black;
  font-weight: 900;
  color: $text-color;
  font-style: italic;
}
button {
  @include button-style;
}

.footer-container {
 width: 100%;
 height: 100vh;
 gap: 5rem;
  padding: 10rem;
 //For some reason align-content doesn't work
  align-items: center;
  justify-content: space-around;

  .icons{
    font-size: 5rem;
    display: flex;
    gap: 3rem;
  }
}
.copyright{
 background-color: #2B2B28;
 color: $secondary-background-color;
 font-size: 3rem;
 
 text-align: center;
 position: relative;
}
