@import "variables";
@import "mixin";

$margin-size: 2rem;
$circle-color: rgba(249, 194, 51, 1);

h1 {
  font-family: Roboto-Black, Arial, sans-serif;
  font-weight: 900;
  color: $text-color;
  font-style: italic;
}

button {
  @include button-style;
  margin-top: $margin-size;
  width: 11rem;
}

.mb-2 {
  margin-bottom: $margin-size;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    @include heading-2-color;
    font-size: 2.4rem;
    text-align: center;
  }

  img {
    width: 100%;
    max-width: 40rem;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 50%;
    gap: $margin-size;

    .book-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: $margin-size;
      width: 50%;
      margin: 0 auto;
    }

    h6 {
      font-size: 2rem;
    }
  }

  .info-p {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: start;
    

    p {
      font-size: 1.2rem;
      text-align: start;
    }

    .circle {
      border: $circle-color 0.1rem solid;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: $margin-size;
      position: absolute;
      margin-left: -75px;
    }
  }
}
