/* ++++++++++ Media Query for Phone screen with max width of 599px ++++++++++ */
@media (max-width: $phone-screen) {
  .app {
    /*----- Start of Navbar component media query----- */
    .navbar-container {
    }
    /*----- End of Navbar component media query----- */

    /*----- Start of Hero component media query----- */
    /* .hero-container {
      width: 100vw;
      height: 100vh;
      padding: 0 8rem;

      background: linear-gradient(
        360deg,
        rgba(255, 255, 255, 0) 50%,
        rgba(209, 204, 204, 0.445) 50%
      );
      .hero-heading {
        h1 {
          @include yoga;
          font-weight: 300;
          font-size: 1rem;
          color: rgba(29, 28, 26, 0.805);
          position: absolute;
          left: 13rem;
          top: 8rem;
          z-index: 2;
        }
        h2 {
          @include logo-font-style;
          font-family: "MoonDance-Regular";
          font-size: 4.5rem;
          top: 28rem;
          left: 18rem;
          position: absolute;
        }
      }
      .ball {
        width: 10rem;
        height: 10rem;
        background-color: #b68a23;
        border-radius: 50%;
        border: #e4e4e48d 2rem solid;
        position: relative;
        left: 40rem;
        top: 6rem;

        .gif {
          width: 92rem;
          height: 60rem;
          position: absolute;
          right: -22rem;
          bottom: -5rem;
        }
      }
    } */
    /*----- End of Hero component media query----- */

    /*----- Start of Aboutme component media query----- */
    .about-container {
      flex-wrap: wrap;
      .rectangle1,
      .rectangle2 {
        width: 250px;
        height: 430px;
        left: 3rem;
      }
      .rectangle1 {
        border: 5px solid #b68a2352;
        margin-left: 30px; //Add some spacing between the rectangles
      }
      .rectangle2 {
        border: 5px solid #eaeae8;
        margin-top: -15px;
        margin-left: -5px; /* Add some spacing between the rectangles */
      }
      .about-image {
        width: 300px;
        height: 400px;
        // border: 6px solid #b68a2352;
      }
      section {
        gap: 0;
        max-width: 100vw;
        text-align: center;

        h2 {
          font-size: 1.5rem;
          margin-bottom: 0;
          margin-top: 2rem;
          padding: 1rem;
        }
        p {
          font-size: 1rem;
          width: 100vw;
          margin-bottom: 1rem;
        }
      }
      /*----- End of Aboutme component media query----- */

      /*----- Start of Service component media query----- */
      .service-container {
      }
      /*----- End of Service component media query----- */

      /*----- Start of Feedback component media query----- */
      .feedback-container {
      }
      /*----- End of Feedback component media query----- */

      /*----- Start of Demo component media query----- */
      .demo-container {
      }
      /*----- End of Demo component media query----- */

      /*----- Start of Contact component media query----- */
      .contact-container {
        width: 99%;

        .contact-sub-container {
          .form-container {
            width: 100%;

            h2 {
              font-size: 2rem;
            }
            h3 {
              font-size: 1.5rem;
            }
          }
          .contact-img {
            display: none;
          }
        }
      }
      /*----- End of Contact component media query----- */

      /*----- Start of Footer component media query----- */
      footer {
        .footer-container {
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
        }
      }
      /*----- Start of Footer component media query----- */
    }
    /*----- Start of Footer component media query----- */
    footer {
      .footer-container {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
      }
    }
  }
  /*----- End of Footer component media query----- */
}

/* ++++++++++ Media Query for Tablet screen with min 600px and max 1023px  ++++++++++ */
@media (min-width: $tablet-screen-min) and (max-width: $tablet-screen-max) {
  .app {
    /*----- Start of Navbar component media query----- */
    .navbar-container {
    }
    /*----- End of Navbar component media query----- */

    /*----- Start of Hero component media query----- */
    .hero-container {
    }
    /*----- End of Hero component media query----- */

    /*----- Start of Aboutme component media query----- */
    .about-container {
      display: flex;
      flex-direction: column;
      .about-image {
        width: 300px;
        height: 450px;
        margin-left: 0;
      }
      .rectangle1,
      .rectangle2 {
        width: 350px;
        height: 530px;
      }
      .rectangle1 {
        border: 10px solid #b68a2352;
      }
      .rectangle2 {
        border: 10px solid #eaeae8;
      }
      section {
        text-align: center;
        max-width: 100vw;
        gap: 0;
        h2 {
          margin-top: 2rem;
          font-size: 2.5rem;
        }
        p {
          max-width: 80vw;
        }
      }
    }
    /*----- End of Aboutme component media query----- */

    /*----- Start of Service component media query----- */
    .service-container {
    }
    /*----- End of Service component media query----- */

    /*----- Start of Feedback component media query----- */
    .feedback-container {
    }
    /*----- End of Feedback component media query----- */

    /*----- Start of Demo component media query----- */
    .demo-container {
      // Mobile devices
      @media (max-width: 480px) {
        .demo-container {
          flex-direction: column;
        }

        .demo-session-description,
        .booking-info-container {
          width: 100%;
        }

        h2 {
          font-size: 1.5rem;
        }

        .booking-info-container h6 {
          font-size: 1.2rem;
        }
      }

      // Tablet devices
      @media (min-width: 481px) and (max-width: 768px) {
        .demo-container {
          flex-direction: column;
        }

        .demo-session-description,
        .booking-info-container {
          width: 80%;
          margin: 0 auto;
        }

        h2 {
          font-size: 2rem;
        }

        .booking-info-container h6 {
          font-size: 1.5rem;
        }
      }

      // Desktop devices
      @media (min-width: 769px) and (max-width: 1024px) {
        .demo-session-description,
        .booking-info-container {
          width: 70%;
          margin: 0 auto;
        }
      }
    }
    /*----- End of Demo component media query----- */

    /*----- Start of Contact component media query----- */
    .contact-container {
      width: 99%;

      .contact-sub-container {
        .form-container {
          width: 100%;

          h2 {
            font-size: 1.5rem;
          }
          h3 {
            font-size: 1.5rem;
          }
        }
        .contact-img {
          display: none;
        }
      }
    }
    /*----- End of Contact component media query----- */

    /*----- Start of Footer component media query----- */
    footer {
      .footer-container {
        display: flex;
        flex-direction: column;

        margin-left: 2rem;

        .links {
          li {
            a {
              &:hover {
                width: fit-content;
              }
            }
          }
        }
      }
    }
  }
  /*----- End of Footer component media query----- */
}

/* ++++++++++ Media Query for Desktop screen with min width of 1024px ++++++++++ */
@media (min-width: $desktop) {
  .app {
    /*----- Start of Navbar component media query----- */
    .navbar-container {
    }
    /*----- End of Navbar component media query----- */

    /*----- Start of Hero component media query----- */
    .hero-container {
    }
    /*----- End of Hero component media query----- */

    /*----- Start of Aboutme component media query----- */
    .about-container {
      about-image {
        width: 400px;
        height: 600px;
      }

      /*----- End of Aboutme component media query----- */

      /*----- Start of Service component media query----- */
      .service-container {
      }
      /*----- End of Service component media query----- */

      /*----- Start of Gallery component media query----- */
      .gallery-container {
      }
      /*----- End of Gallery component media query----- */

      /*----- Start of Feedback component media query----- */
      .feedback-container {
      }
      /*----- End of Feedback component media query----- */

      /*----- Start of Demo component media query----- */
      .demo-container {
      }
      /*----- End of Demo component media query----- */

      /*----- Start of Contact component media query----- */
      .contact-container {
      }
      /*----- End of Contact component media query----- */

      /*----- Start of Footer component media query----- */
      footer {
      }
      /*----- Start of Footer component media query----- */
    }
  }}
 /*----------- Hero Section ------------------*/

 @media (min-width: 1150px) and (max-width: 1300px) {
  .app {
    .hero-container {
      .hero {
        .col1 {
          margin-bottom: 20rem;
          margin-top: 0.5rem;
          margin-left: 150px;
          h1 {
            font-size: 14rem;
          }
          h2 {
            font-size: 3rem;
          }
        }
        .col2 {
          margin-left: -10rem;
          .ball {
            width: 30rem;
            height: 30rem;
          }
          .img {
            width: 28rem;
            height: 20rem;
            margin-right: 4rem;
          }
        }    
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1150px) {
  .app {
    .hero-container {
      .hero {
        .col1 {
          margin-bottom: 20rem;
          margin-top: 0.5rem;
          margin-left: 120px;
          h1 {
            font-size: 10rem;
          }h2 {
            font-size: 3rem;
          }
        }
        .col2 {
          margin-left: -10rem;
          .ball {
            width: 26rem;
            height: 26rem;
          }
          .img {
            width: 25rem;
            height: 18rem;
            margin-right: 4rem;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .app {
    .hero-container { display: flex;
      justify-content: center;

      .hero { 
        width:90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        flex-direction: column;
        background: none;
        .col1 {
          width: 100%;

           margin-left: 0;
          margin-top: 0;
          margin-bottom: 0;
          order: 1;
          h1 {
          text-align: center;
            font-size: 8rem;
          }
          h2 {          text-align: center;

            font-size: 3rem;
          }
        } 
        .col2 {
          
         position: relative;
          order: 2;
           margin-left: 0;
        .ball {
         
            width: 18rem;
            height: 18rem;       
                  margin-left: 0;
                  right: 10rem;
                  transform: translateX(20px);

           }
          img {
            width: 18rem;
            height: 15rem;
           /*   margin-left: 5rem; */
            margin-top: 1rem; 
          }
        }
      }
    }
  }
}
@media (min-width: 1300px) and (max-width: 1600px) {
  .app {
    .hero-container {
      .hero {
        .col1 {
          margin-bottom: 20rem;
          margin-top: 0.5rem;
          margin-left: 12rem;
          h1 {
            font-size: 15rem;
          }
          h2 {
            font-size: 4rem;
          }
        }
        .col2 {
          margin-left: -10rem;
         .ball {
            width: 32rem;
            height: 32rem;
          }
          .img {
            width: 28rem;
            height: 20rem;
            margin-right: 4rem;
          }
        }
      }
    }
  }
}