/* ++++++++++ Media Query for Phone screen max width 360px ++++++++++ */
@media (max-width: 360px) {
  .app {
    .service-container {
      margin-top: 0;
      width: 99%;

      /* Heading section  */
      .header-container {
        h2 {
          font-size: 1.6rem;
        }
      }

      /* Tab container  */
      .tabs {
        [class^="tab"],
        [class*="tab"] {
          label {
            font-size: 1.1rem;
            padding: 0.3rem;
          }
        }
      }

      /* Service section */
      .service-section {
        .card-content-container {
          /* Content container */
          .content-container {
            display: none;
          }

          /* Cards container */
          .cards-container {
            flex-direction: column;

            /* Cards */
            .card-basic,
            .card-premium,
            .card-standard {
              width: 85%;
              margin-right: 0;

              /* Cards header */
              .card-header {
                height: 4rem;
              }

              /* Cards body */
              .card-body {
                padding: 0.5rem 0;

                /* card body heading 3 */
                p {
                  h3 {
                    font-size: 1rem;
                    padding: 0.4rem;
                  }
                }

                /* Card element container */
                .card-element-container {
                  font-size: 0.9rem;
                }

                /* cards button */
                .btn {
                  padding: 0.5rem;
                  font-size: 0.8rem;
                  border-radius: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ++++++++++ Media Query for Phone screen between 361 and 599px ++++++++++ */
@media (min-width: 361px) and (max-width: $phone-screen) {
  .app {
    /*----- Start of Service component media query----- */
    .service-container {
      margin-top: 0;
      width: 99%;

      /* Heading section  */
      .header-container {
        h2 {
          font-size: 2rem;
        }
      }

      /* Tab container  */
      .tabs {
        [class^="tab"],
        [class*="tab"] {
          label {
            font-size: 1.3rem;
            padding: 0.8rem;
          }
        }
      }

      /* Service section */
      .service-section {
        .card-content-container {
          /* Content container */
          .content-container {
            display: none;
          }

          /* Cards container */
          .cards-container {
            flex-direction: column;
            /*    border: 1px solid blue; */

            /* Cards */
            .card-basic,
            .card-premium,
            .card-standard {
              width: 55%;
              margin-right: 0;

              /* Cards header */
              .card-header {
                height: 4rem;
              }

              /* Cards body */
              .card-body {
                padding: 0.5rem 0;

                /* card body heading 3 */
                p {
                  h3 {
                    font-size: 1rem;
                    padding: 0.4rem;
                  }
                }

                /* Card element container */
                .card-element-container {
                  font-size: 0.9rem;
                }

                /* cards button */
                .btn {
                  padding: 0.5rem;
                  font-size: 0.8rem;
                  border-radius: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
    /*----- End of Service component media query----- */
  }
}

/* ++++++++++ Media Query for Tablet screen with min 600px and max 800px  ++++++++++ */
@media (min-width: $tablet-screen-min) and (max-width: 800px) {
  .app {
    /*----- Start of Service component media query----- */
    .service-container {
      margin-top: 0;
      width: 99%;

      /* Heading section  */
      .header-container {
        h2 {
          font-size: 2.5rem;
        }
      }

      /* Tab container  */
      .tabs {
        [class^="tab"],
        [class*="tab"] {
          label {
            font-size: 1.6rem;
            padding: 1rem;
          }
        }
      }

      /* Service section */
      .service-section {
        .card-content-container {
          /* Content container */
          .content-container {
            display: none;
          }

          /* Cards container */
          .cards-container {
            flex-direction: column;

            /* Cards */
            .card-basic,
            .card-premium,
            .card-standard {
              width: 60%;
              margin-right: 0;

              /* Cards header */
              .card-header {
                height: 5rem;
              }

              /* Cards body */
              .card-body {
                padding: 1.5rem 0;

                /* card body heading 3 */
                p {
                  h3 {
                    font-size: 1.4rem;
                    padding: 0.4rem;
                  }
                }

                /* Card element container */
                .card-element-container {
                  font-size: 1.2rem;
                }

                /* cards button */
                .btn {
                  padding: 0.6rem 0.8rem;
                  font-size: 1.1rem;
                  border-radius: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
    /*----- End of Service component media query----- */
  }
}

/* ++++++++++ Media Query for Tablet screen with min 801px and max 1023px  ++++++++++ */
@media (min-width: 801px) and (max-width: $tablet-screen-max) {
  .app {
    .service-container {
      width: 99%;

      /* Heading section  */
      .header-container {
        h2 {
          font-size: 2.5rem;
        }
      }

      /* Tab container  */
      .tabs {
        [class^="tab"],
        [class*="tab"] {
          label {
            font-size: 1.6rem;
            padding: 1rem;
          }
        }
      }

      /* Service section */
      .service-section {
        .card-content-container {
          /* Content container */
          .content-container {
            display: none;
          }

          /* Cards container */
          .cards-container {
            flex-direction: column;

            /* Cards */
            .card-basic,
            .card-premium,
            .card-standard {
              width: 60%;
              margin-right: 0;

              /* Cards header */
              .card-header {
                height: 5rem;
              }

              /* Cards body */
              .card-body {
                padding: 1.5rem 0;

                /* card body heading 3 */
                p {
                  h3 {
                    font-size: 1.4rem;
                    padding: 0.4rem;
                  }
                }

                /* Card element container */
                .card-element-container {
                  font-size: 1.2rem;
                }

                /* cards button */
                .btn {
                  padding: 0.6rem 0.8rem;
                  font-size: 1.1rem;
                  border-radius: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
  /* ++++++++++ Media Query for Desktop screen with min width of 1024px ++++++++++ */
  @media (min-width: $desktop) {
    .app {
      /*----- Start of Navbar component media query----- */

      /*----- Start of Service component media query----- */
      .service-container {
      }
      /*----- End of Service component media query----- */
    }
  }
  @media (min-width: 1300px) and (max-width: 1600px) {
    .app {
    }
  }
}
